h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

div {
    background: rgb(221, 221, 221);
    display: inline-block;
    border: 1px;
    border-color: black;
    padding: 20px;
}

ul {
    background-color: rgb(232, 228, 248)
}

body {
    background-color: rgb(209, 209, 209);
}
